.container {
  border-top: 8px solid #222;
  overflow: hidden;
}
.dividerContainer {
  display: flex;
  margin: 80px auto;
  padding: 75px 35px;
  width: 80%;
}
.ContainerContent {
  display: inline-block;
  width: 52%;
}
.ContainerImage {
  z-index: -1;
  display: inline-block;
  width: 48%;
  padding: 15px;
  margin: -7% 10% 0 -85px;
}
.divider2Image {
  display: flex;
  border: 4px solid rgb(34, 34, 34);
  border-radius: 10px;
  width: 370px;
  position: absolute;
  padding: 10px;
  top: 92%;
  left: 9%;
  z-index: 4;
  background-color: #000;
}
.ContainerImageContainer > img {
  width: 100%;
  height: 109%;
}
.ContainerImageContainer {
  display: flex;
  flex-direction: column;
}
.ContainerContent > h1 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 550;
  margin-bottom: 0.5rem;
  letter-spacing: 1.4px;
  color: #fff;
}
.ContainerContent > h2 {
  font-size: 1.625rem;
  font-weight: 300;
  margin-top: 1.2rem;
  line-height: 1.4;
  color: #fff;
  letter-spacing: 1.4px;
}
@media screen and (max-width: 950px) {
  .dividerContainer {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    width: 85%;
    padding: 75px 0;
  }
  .ContainerContent {
    width: 100%;
    text-align: center;
  }
  .ContainerContent > h1 {
    font-size: 2.1rem;
  }
  .ContainerContent > h2 {
    font-size: 1.2rem;
  }
  .ContainerImage {
    width: 70%;
    margin: 0 10%;
  }
}
