.main_heading {
  position: absolute;
  top: 30%;
  width: 54%;
  margin: auto 22%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
.main_heading1 {
  width: 54%;
  margin: 100px 22%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
h1 {
  font-size: 50px;
  color: #fff;
  line-height: 55px;
  font-weight: 500;
}
h3 {
  color: #fff;
  margin: 1.3rem auto;
  margin-bottom: 1.5rem;
  font-size: 1.625rem;
  font-weight: 200;
}
h6 {
  font-size: 18px;
  color: #fff;
  font-weight: 200;
}
.footer {
  border-top: 8px solid #222;
  height: 300px;
  padding: 100px 220px;
}
.footer > h6 {
  color: #757575;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 50px;
}
